<div class="container py-5">
  <div class="row">
    <div class="col-6">

      <h3>User Registration</h3>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" novalidate>

        <div class="form-group">
          <label for="login">Login:</label>
          <input class="form-control" type="text" id="login" 
          formControlName="login">
          <div class="alert alert-danger"
            *ngIf="loginForm.get('login').hasError('required')
                && loginForm.get('login').touched">
            Обязательное поле
            </div>
          </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control" type="password" id="password" 
          formControlName="password">
         <div class="alert alert-danger"
            *ngIf="loginForm.get('password').hasError('required')
                && loginForm.get('password').touched">
            Обязательное поле
            </div>
         <div class="alert alert-danger"
            *ngIf="loginForm.get('password').hasError('minlength')
                && loginForm.get('password').touched">
            Требуется минимум 7 символов
            </div>
          </div>

        <button type="submit" class="btn btn-info" 
        [disabled]="loginForm.invalid">Login
        </button>

      </form>

    </div>
  </div>
</div>