<p *myIf="isVisible">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id doloribus aperiam perspiciatis deleniti quod! Perferendis
  aut maxime eligendi optio doloremque! Rem consequuntur asperiores, commodi id dolorum maxime, repellendus animi
  quaerat, tempore delectus provident ea facilis distinctio voluptates dolor officiis aspernatur iste. Ad tempora
  officia facere reprehenderit labore, necessitatibus nisi rem.</p>

<button (click)="changeVisibility()">Change visibility</button>

