<app-spoiler-item header="Заголовок спойлера 1" isVisible=false>
  1 - Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, quibusdam veniam quis accusantium commodi
  dolor
  impedit, vitae animi asperiores natus, in nostrum neque facere ab aspernatur consectetur sint deserunt ex?
</app-spoiler-item>

<app-spoiler-item header="Заголовок спойлера 2">
  2 - Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus repellendus eius possimus fuga doloribus
  cumque
  repellat dolorem maiores est, eos incidunt atque aut commodi architecto nemo ullam sunt saepe voluptatum natus
  assumenda sit provident fugit. Laboriosam odio doloribus porro, placeat adipisci in deleniti facere nulla labore
  laborum! Odit, ipsam reprehenderit!
</app-spoiler-item>

<app-spoiler-item header="Заголовок спойлера 3">
  3 - Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam minima quidem saepe eaque quo expedita perferendis
  fugit fugiat in? Dolores nihil commodi porro impedit beatae voluptas corporis quod pariatur magni vel quam nobis rem
  molestiae ipsa dolore possimus, deleniti excepturi? Dolor doloremque tempore exercitationem cupiditate, praesentium
  fugiat placeat, amet voluptatem tempora quaerat laboriosam explicabo laudantium ipsum necessitatibus temporibus nam!
  Repellat facere tempore doloremque provident minima deserunt sint corrupti laudantium tempora ducimus adipisci dolore
  numquam quae, molestias facilis, quo accusantium veniam omnis nemo eos obcaecati sed distinctio nisi. Corporis
  voluptatem facilis facere totam id voluptatum doloremque nostrum repellat. Eveniet, natus iusto!
</app-spoiler-item>