<div *ngIf="phrase">
  <h3>Selected Phrase</h3>

  <div *ngIf="authService.isLoggedIn; then thenBlock else elseBlock"></div>

  <div *ngIf="isChanged()">
    <button (click)="save()" class="btn-style">Сохранить</button>
  </div>
  
</div>

  <ng-template #thenBlock>
    <div class="phrase-change"><label class="phrase-change__label">Value: <input class="phrase-change__input" type="text" [(ngModel)]="editValue"></label></div>
    <div class="phrase-change"><label class="phrase-change__label">Language: <input class="phrase-change__input" type="text" [(ngModel)]="editLanguage"></label></div>
  </ng-template>

  <ng-template #elseBlock>
    <div class="phrase-change">Value: {{editValue}}</div>  
    <div class="phrase-change">Language: {{editLanguage}}</div>  
  </ng-template>
