<p myColor>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum eius corporis odio natus autem culpa quaerat
  ducimus, explicabo neque totam aliquam numquam iste voluptatibus voluptate similique dolore ipsum dolores quidem
  exercitationem praesentium saepe repellat rem, et nostrum! Eius cumque, autem iste nemo animi inventore nulla soluta,
  voluptas, in cupiditate neque.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam est et cupiditate adipisci, tenetur aut autem minima
  nihil eveniet, quod non. Iure voluptatum optio harum aperiam corporis veritatis, quasi repellat!</p>
  