<p myColorChange="red">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam perferendis culpa minima maiores
  eveniet quas magni,
  quo distinctio aspernatur enim soluta sint tenetur libero impedit sunt magnam accusantium vel nam vitae ea! Voluptate
  nobis tenetur facilis laborum iusto vitae possimus optio dolores, explicabo, quisquam aperiam veritatis at! Eaque,
  magnam laboriosam.</p>

<p [myColorChange]="color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium fugit quaerat vel accusantium aut ratione optio,
  saepe tenetur. Quo nam mollitia maiores nostrum laudantium! Omnis fuga quam possimus eveniet odit quis sint architecto
  temporibus aliquid ducimus, repellat eaque reprehenderit doloremque voluptates doloribus! Eius molestias excepturi
  aliquid! Voluptas obcaecati dolorem sed.</p>