<div class="container py-5">
  <div class="row">
    <div class="col">

      <label>Проделайте действия из списка ниже:
        <input type="text" placeholder="Введите текст" required
              [(ngModel)]="data">
      </label>

<p>Проверить стили поля ввода в консоли</p>

<ol>
  <li>Кликните на поле ввода, потом за его пределами: <b>ng-untouched --> ng-touched</b></li>
  <li>Введите значение в поле ввода: <b>ng-pristine --> ng-dirty</b></li>
  <li>Удалите значение из поля ввода: <b>ng-valid --> ng-invalid</b></li>
</ol>

    </div>
  </div>
</div>