<div class="container">
  <div class="row">
    <div class="col">

      <h1>Course TITLE</h1>

      <h2>COURSE DESCRIPTION</h2>

      <p>Lorem, ipsum <span>Lorem, ipsum.</span> consectetur adipisicing elit. Quis illo, nisi officia repellendus nostrum a
        sapiente facere necessitatibus, saepe expedita esse ullam aliquid, possimus reprehenderit aliquam voluptas porro
        soluta. Veniam?</p>

      <div class="bg-dark">
        <app-topic></app-topic>
      </div>
      <div class="bg-light">
        <app-topic></app-topic>
      </div>
      <div class="bg-dark">
        <app-topic></app-topic>
      </div>
      <div class="bg-light">
        <app-topic></app-topic>
      </div>
      <div class="bg-dark">
        <app-topic></app-topic>
      </div>
      <div class="bg-light">
        <app-topic></app-topic>
      </div>
      <div class="bg-dark">
        <app-topic></app-topic>
      </div>

    </div>
  </div>
</div>