<h2>AttributeBinding</h2>

<p>Size: {{value}}</p>

<button (click)="increaseSize()">+</button>
<button (click)="decreaseSize()">-</button>

<br>

<!-- Атрибут svg не предоставляет соответствующие свойства обьекта -->
<!-- Если привязываться через height="value" - будет ошибка -->
<svg [attr.width]="value" [attr.height]="value">
  <rect x="0"
        y="0"
        [attr.width]="value"
        [attr.height]="value"
        fill="green"></rect>
</svg>
<!-- Если попробовать width={{value}}, ets, то получим ошибку -->