<ul>
  <li *myDelay="1000">Lorem ipsum dolor sit amet.</li>
  <li *myDelay="2000">Quisquam aliquid pariatur ex adipisci!</li>
  <li *myDelay="3000">Quo, commodi. Nesciunt, veritatis nobis.</li>
  <li *myDelay="4000">Possimus nihil nemo unde beatae.</li>
  <li *myDelay="5000">Consectetur esse eaque provident aperiam?</li>
  <li *myDelay="6000">Deserunt quaerat inventore libero natus?</li>
  <li *myDelay="7000">Laborum, harum. Quibusdam, natus corrupti.</li>
  <li *myDelay="8000">Dolor culpa saepe error dolorum.</li>
  <li *myDelay="9000">Dolorem maxime cum ratione quasi?</li>
</ul>